PORT=5001
MONGO_URI=mongodb://127.0.0.1:27017/zaalima_ecommerce
JWT_SECRET=zaalima_super_secret_jwt_key_2026

APP_NAME="Zaalima Store"
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=your_email@gmail.com
MAIL_PASSWORD=your_app_password
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="contact@zaalima.com"
MAIL_FROM_NAME="Zaalima Store"

# Stripe Key
STRIPE_SECRET_KEY=sk_test_your_stripe_key